body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .login-form{
    width: 40% !important;
  }

  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .login-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
  }

  .login-form-wrapper .ant-form-item-children{
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .text-align-left{
    text-align: left !important;
  }

  .text-align-center{
    text-align: center !important;
  }

  .register-form{
    width: 40% !important;
  }

  .register-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
  }

  .register-form-wrapper .ant-form-item-children{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .ant-message-notice ~ .ant-message-notice{
    display: none;
  }